{% extends 'einstein_app/base.html' %}

{% block content %}
    <h2>Courses by Category</h2>
            {% if categories %}
                {% for category, current_courses in categories.items %}
                    <div>
                        <hr>
                        <h3>{{ category }}</h3>
                        <hr>
                        <div class="grid-container-6">
                            {% if current_courses %}
                                {% for course in current_courses %}
                                    <div>
                                        <h3>{{ course.title }}</h3>
                                        <p>by {{ course.by_user }}</p>
                                    </div>                  
                                {% endfor %}
                            {% else %}
                                <p>No Available Courses.</p>
                            {% endif %}  
                        </div> 
                    </div>                  
                {% endfor %}    
            {% else %}
                <p>No Available Categories.</p>
            {% endif %}
            
{% endblock %}